.CandidatePresidentPage {
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.returnLink {
    margin-top: -40px;
    margin-left: -30px;
}

.ChunkShow {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}

.ChunkShow img {
    width: 171px;
    margin: 10px;
    border-radius: 15px;
}

.candidatedetail h4 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}

.candidatedetail button {
    background-color: #D1E7FC;
    border-radius: 5px;
    border: none;
    padding: 15px;
}

.candidateStory {
    margin: 0 auto;
    text-align: left;
    width: 75%;
}

.runningMate {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    width: 75%;
}

.runningMate img {
    width: 117px;
    margin: 10px;
    border-radius: 15px;
}

.officialSite {
    margin: 20px;
}

.officialSiteLink {
    color: #E43C4A;
}

.candidateButtons button {
    border-radius: 5px;
    border: none;
    padding: 15px;
    margin: 15px;
}

.cartButton {
    background-color: #487C9C;
    color: #FFFFFF;
}
